#loading {
	width: 100%;
	height: 120vh;
	background-color: black;
	position: fixed;
	z-index: 999;
	top: -80px;
	left: 0px;
	transition: 5s;
}

#loading img {
	transform: translate(50% 50%);
}

.hide {
	display: none;
}

#flipbook {
	width: 100%;
	margin: auto !important;
	margin-top: 80px !important;
}

#flipContain {
	width: 100%;
	position: relative;
	margin: auto;
	margin-bottom: 40px;
}

#tip {
	position: absolute;
	bottom: -90px;
	right: 160px;
}

body {
	background-image: url(desko.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: calc(100vh - 9vh);
	text-align: center;
	overflow: hidden;
}

#prev {
	width: 50px;
	margin: auto;
	cursor: pointer;
	border-radius: 30px;
	position: relative;
	top: 50px;
}

#prev:hover {
	background-color: rgba(255, 255, 255, 0.2);
	
}

#book  {
	margin: auto !important;
	left: 50.5%;
	top: 13px;
	transform: translate(-50%);
	position: absolute;
	width: 1010px;
	height: 563px;
	background-image: url(bookbg.png);
	background-size: cover;
	background-position: right bottom;
	box-shadow: 0 4px 10px #222;
	z-index: -1;
}

.pge {
	width: 1010px;
	height: 563px;
	margin: auto;
	display: none;
	position: relative;
}

.pic {
	position: relative;
}

.pge:after {
	display: block;
	content:"";
	position: absolute;
	bottom: -4px;
	right: 0px;
	width: 0; 
    height: 0; 
    border-bottom: 100px solid white;
    border-left: 100px solid transparent;
	z-index: 9;
	opacity: 0;
	transition: .5s;
}

.pge:hover:after {
	opacity: 0.2;
}

@keyframes example {
	from {transform: translate(10%);}
	to {transform: translate(0%);}
}

.show {
	display: inline-block !important;
	animation-name: example;
	animation-duration: .3s;
	animation-timing-function: ease-in-out;
}

#cup {
	position: absolute;
	left: 80px;
	bottom: 70px;
}

#pressie {
	position: absolute;
	right: -50px;
	top: -70px;
}

#footer {
	position: absolute;
	bottom: 2px;
}

#flipbook .shadow,
#flipbook.shadow{
  -webkit-box-shadow: 0 4px 10px #222;
  -moz-box-shadow: 0 4px 10px #222;
  -ms-box-shadow: 0 4px 10px #222;
  -o-box-shadow: 0 4px 10px #222;
  box-shadow: 0 4px 10px #222;
}

@media only screen and (max-width: 1668px) {
	#pressie, #cup {
		display: none;
	}
}
