<!DOCTYPE HTML>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="NBYy.js"></script>
    <!-- <script type="text/javascript" src="turnjs4/lib/turn.js"></script>
	<script type="text/javascript" src="turnjs4/lib/zoom.js"></script> -->
	<link rel="stylesheet" type="text/css" href="NBY.css"></link>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
	
</head>
<body>
	<div id="loading">
		<img style="width: 50px; height: 50px;" src="loadspin.gif">
	</div>
	<div id="flipContain" class="shadow">
		<div id="book"></div>
		<div id="flipbook">
			<div class="pge"><img class="pic show" style="width: 100%;" src="0coverlines.png"></div>
			<div class="pge"><img class="pic" style="width: 100%;" src="1First lines2.png"></div>
			<div class="pge"><img class="pic" style="width: 100%;" src="2Second lines.png"> </div>
			<div class="pge"><img class="pic" style="width: 100%;" src="3third lines.png"> </div>
			<div class="pge"><img class="pic" style="width: 100%;" src="4fourth lines.png"> </div>
			<div class="pge"><img class="pic" style="width: 100%;" src="5Fifth Lines.png"> </div>
			<div class="pge"><img class="pic" style="width: 100%;" src="6sixth lines.png"></div>
			<div class="pge"><img class="pic" style="width: 100%;" src="7seventhlines.png"></div>
			<div class="pge"><img class="pic" style="width: 100%;" src="8Eighth Lines.png"></div>
			<div class="pge"><img class="pic" style="width: 100%;" src="9ninth lines2.png"></div>
		</div>
		<div id="tip">
			<p style="color: white; font-family: 'Indie Flower', cursive; font-size: 30px; margin-top: 10px; " > &#8593; Click the Corner to Turn the Page! </p>
		</div>
		<div id="cup">
			<img src="eggnog.png">
		</div>
		<div id="pressie">
			<img src="pressie.png">
		</div>
	</div>
	<div id="prev">
			<p style=" color: white; font-family: 'Indie Flower', cursive; font-size: 30px; margin-top: 10px; ">&#8656;</p>
	</div>
	<div id="footer">
		<img style="width: 17vw;" src="whitelogo.png">
	</div>






</body>





</html>
